.column {
    background: aqua;
    float: left;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.card {
    background: aliceblue;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.input {
    width: 195px;
}